.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    height: 100%;
    width: 100vw;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.title {
  color: #ffffff;
  font-family: 'Bree Serif';
}

.ipl-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto';
}
